Dear {{.EmployeeName}},

Welcome to {{.HospitalName}}. Your staff account is ready.
You have been added as {{.RoleName}} in {{.DepartmentName}}.

Email: {{.EmployeeEmail}}
Temporary password: {{.TempPassword}}

Sign in here: {{.LoginURL}}
Please change this password after you sign in.

If you were not expecting this account, you can ignore this email.

Thanks,
{{.HospitalName}}
